Package: xkb-data-udeb
Source: xkeyboard-config
Version: 2.12.1-1ubuntu1
Architecture: all
Maintainer: Ubuntu X-SWAT <ubuntu-x@lists.ubuntu.com>
Installed-Size: 1870
Section: debian-installer
Priority: extra
Description: X Keyboard Extension (XKB) configuration data
 This is a udeb, or a microdeb, for the debian-installer.
Original-Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
